/*
* 前端简历demo
*/
/* 首先给所有元素加上过渡效果 */
* {
  -webkit-transition: all .3s;
  transition: all .3s;
}
.content {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}
.content > div {
  position: absolute;
  left: 0;
  top: 0;
}
.content .textArea {
  width: 40%;
  height: 60%;
  margin-right: 20px;
  padding: 20px;
}
.content .textArea textarea {
  width: 100%;
  height: 100%;
  resize: none;
  border: 1px solid #eee;
  border-radius: 4px;
}
.content .codeCss {
  color: #DEDEDE;
  background: #002B36;
  padding: .5em;
  border: 1px solid;
  overflow: auto;
  width: 40%;
  height: 60%;
  /* 代码高亮 */
}
.content .codeCss .token.selector {
  color: #859900;
}
.content .codeCss .token.property {
  color: #BB8900;
}
.content .codeCss .token.punctuation {
  color: #FFFF00;
}
.content .codeCss .token.function {
  color: #2AA198;
}
.content .codeCss .token.comment {
  color: #676767;
}
.content .codeCss {
  position: fixed;
  left: 50%;
  top: 0;
}
